Flask
Werkzeug
requests
ffmpeg-python
faster-whisper==1.2.0
ctranslate2==4.6.0
openai-whisper
huggingface_hub[hf-transfer]
gunicorn
APScheduler
srt
numpy
torch
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-storage
psutil
boto3
Pillow
matplotlib
yt-dlp
python-dotenv
